apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: prpo-microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: prporegistry.azurecr.io/frontend:16db88d567fe6ea580080da44c9808da1aa9baa7
          imagePullPolicy: Always
          ports:
            - containerPort: 80


